.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #123486;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #0d2a6d;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #2262ff;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #1a49ba;
}